html, body {
    padding: 0;
    margin: 0;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
}

.overview {
    height: auto;
}